data/raw/
data/latents/
data/processed/*.pt
checkpoints/
wandb/
__pycache__/
*.tar
*.pt
*.ckpt
.env
*.jpg
*.png
state/
assets/*.gif
!assets/swissroll_sde_hq.gif
logs/

# big/local files
AWSCLIV2.pkg
logs/

#experiments
DecodeExperiment
Training_1_22_26
samples

mnist_diffusion/runs/
*.pt
